@charset "utf-8";

.right-down {

}
.right-tab-content-1 {
    border: 1px solid #ccc;
    border-top: 5px solid #11beb3;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.right-tab-content-2 {
    border: 1px solid #ccc;
    border-top: 5px solid #e99b29;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.right-tab-content-3 {
    border: 1px solid #ccc;
    border-top: 5px solid #3388b9;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.right-tab-content h3 {
    height: 35px;
    line-height: 35px;
    text-indent: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
