@charset "utf-8";

/*组件容器*/
.main-tab {
    border-radius: 3px;
    border: 1px solid #9db36a;
}

.main-tab h3 {
    padding: 10px 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background-color: #a8bc7b;
    border-bottom: 1px solid #9db36a;
}
.main-tab h3 a {
    display: inline-block;
    color: #fff;
}
.main-tab h3 .tab-add {
    float: right;
    margin-top: -4px;
    color: #fff;
}
/*下拉菜单群组*/
.main-select {
    display: flex;
    justify-content: space-around;

    margin: 15px;
    margin-right: 40px;
}
.main-select>div {
    display: flex;
    justify-content: center;

    width: 25%;
    padding: 0 20px;
}
.main-select>div:nth-of-type(3) {
    justify-content: right;
}
.main-select div label {
    min-width: 30%;
    line-height: 36px;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.form-input {
    width: 80%;
}
.form-input .el-input__inner {
    width: 80%;
}
/*上部表格*/
.table-up td {
    border: none;
    margin: 15px 0;
    height: 50px;
}
.table-up td:nth-of-type(odd) {
    width: 10%;
    text-align: right;
    padding-right: 10px;
}

/*时间范围选择*/
.main-time {
    display: flex;
    justify-content: space-around;
    justify-content: start;
    margin: 15px;
}
.main-time>div {
    width: 50%;
    display: flex;
    /*justify-content: center;*/
}
.main-time div label {
    width: 17%;
    line-height: 36px;
    text-align: right;
    padding-right: 10px;
}
.main-time div:nth-of-type(2) label {
    width: 15%;
    line-height: 36px;
    text-align: left;
    padding-right: 0px;
}
.main-time .form-time {
    width: 40%;
}
.main-status {
    margin: 15px;
    margin-left: 40px;
}

/*表格样式*/
.main-table {
    margin-top: 20px;
}
.el-table .cell {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
/*表头*/
.main-table th, td {
    border-left: 1px solid #ccc;
}
.main-table th:first-of-type, td {
    border-left: none;
}
/*表体*/
.main-table tr td {
    border-left: 1px solid #ccc;
}
.main-table tr td:first-of-type {
    border-left: none;
}
.main-table tr td:last-of-type {
    border-right: none;
}

/*分页器样式*/
.main-pagi {
    margin: 15px;
    margin-bottom: 40px;
}
.main-pagi .el-pagination {
    text-align: right;

}
