@charset "UTF-8";

/*简单的重置样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol,
li, {
    list-style: none;
}
body {
    font: normal normal 14px "微软雅黑";
    font-size: 13px;
    font-family: PingFangSC-Regular;
    color: #6e8296;
}
html,
body {
    height: 100%;
}
/*大容器*/
.home-wrapper,
.home-main { height: 100%; }
/*页眉*/
.home-header {
    position: sticky;
    top: 0;
    height: 70px;
    height: 70px;
    /*line-height: 70px;*/
    background-image: linear-gradient(-180deg, #4C555E 11%, #252A30 75%);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);
    z-index: 5;
}
.home-header div {
    display: inline-block;
}
/*logo*/
.home-logo h1 {
    height: 70px;
    /*line-height: 70px;*/
    margin-left: 41px;
}
.home-logo img  {
    width: 72px;
    height: 42px;
    display: block;
     margin-top: 14px;
}
/*消息提示*/
.home-header-news {
    width: 26px;
    height: 100%;
    position: absolute;
    right: 150px;
    background: transparent url(../assets/images/head/message.png) center 27px no-repeat;
    -webkit-background-size: 26px 24px;
    background-size: 26px 24px;
    cursor: pointer;
}
/*消息数量*/
.home-header-news span {
    position: absolute;
    right: -4px;
    top: 20px;

    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    font-family: PingFangSC-Semibold;
    font-size: 11px;
    color: #f5f5f5;
    letter-spacing: 0.55px;

    background: #F26050;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 50%;
}
/*用户信息*/
.home-header-usr {
    position: absolute;
    height: 70px;
    line-height: 70px;
    right: 0;
    margin-right: 31.6px;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #ddd;
    letter-spacing: 0.8px;
    cursor: pointer;
}
/*用户信息列表*/
.home-header-usr ul {
    position: absolute;
    top: 60px;
    right: -10px;
    display: none;
    z-index: 100;

    width: 100px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    list-style-type: none;
    background-color: #fff;
}
.home-header-usr ul li {
    width: 100px;
    line-height: 30px;
    color: #333;
    text-align: center;
}
/*hover效果*/
.home-header-usr ul li:hover {
    background-color: #eee;
}
.home-header-usr:hover #home-header-usr-ul{
/*.home-header-usr:hover .home-header-usr>ul{*/
    display: block;
}
/*用户三角*/
.home-header-usr::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: 9px;
    margin-left: 8px;
    border-top: 8.7px solid #ddd;
    border-right: 8.4px solid transparent;
    border-bottom: 8.7px solid transparent;
    border-left: 8.4px solid transparent;
}
