@charset "utf-8";

/*简单粗暴的重置样式*/
* { margin: 0; padding: 0; box-sizing: border-box; }
ul, ol, li { list-style-type: none; }

body {
    font: normal normal 14px "微软雅黑";
    font-size: 13px;
    font-family: PingFangSC-Regular;
    color: #6e8296;
}
html,
body {
    height: 100%;
}

/*外层容器*/
#tree {
    width: 200px;
    height: 100%;
    /*background-color: #eaedf0;*/
    border-right: 1px solid #ccc;

    overflow: hidden;
}
/*内层容器*/
.tree-box {
    width: 200px;
    height: 100%;
    padding: 25px 0;
    background-color: #eaedf0;

    overflow-x: hidden;
    overflow-y: auto;

    /*-ms-overflow-style: none;
    overflow: -moz-scrollbars-none;*/
}
.tree-box::-webkit-scrollbar { width: 0; }

.tree-item {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.tree-item:first-of-type {
    border-top: 1px solid #ddd;
}

/*鼠标指针*/
.tree-item-h3,
.tree-item-h4,
.tree-item-h5,
.tree-item-h6,
.tree-item-last,
.tree-single {
    cursor: pointer;
}
/*一级标题*/
.tree-item-h3 {
    /*height: 22px;*/
    line-height: 22px;
    margin: 15px 0;
    padding-left: 30px;
    color: #323232;
    font-size: 16px;
    font-weight: 550;
    font-family: PingFangSC-Medium;
    background: transparent url(../assets/images/left/big-r.png) 14.5px center no-repeat;
}
/*二级标题*/
.tree-item-h4 {
    /*height: 20px;*/
    line-height: 20px;
    padding: 7px 0;
    padding-left: 41px;
    color: #465064;

    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: 500;
    background: transparent url(../assets/images/left/mid-r.png) 30px center no-repeat;
}
/*等价二级标题*/
.tree-item-h4-single {
    /*height: 20px;*/
    line-height: 20px;
    padding: 7px 0;
    padding-left: 41px;
    color: #465064;

    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: 500;
    /*background: transparent url(../assets/images/left/mid-r.png) 30px center no-repeat;*/
}
/*三级标题*/
.tree-item-h5 {
    /*height: 20px;*/
    line-height: 20px;
    padding: 7px 0;
    padding-left: 54px;
    color: #465064;

    font-size: 14px;
    font-weight: 500;
    background: transparent url(../assets/images/left/mid-r.png) 43px center no-repeat;
}
/*等价三级标题*/
.tree-item-h5-single {
    /*height: 20px;*/
    line-height: 20px;
    padding: 7px 0;
    padding-left: 54px;
    color: #465064;

    font-size: 14px;
    font-weight: 500;
    /*background: transparent url(../assets/images/left/mid-r.png) 43px center no-repeat;*/
}
/*四级标题*/
.tree-item-h6 {
    /*height: 20px;*/
    line-height: 20px;
    padding: 7px 0;
    padding-left: 65.8px;
    color: #465064;

    font-size: 13px;
    font-weight: 500;
    background: transparent url(../assets/images/left/mid-r.png) 55px center no-repeat;
}
/*等价四级标题*/
.tree-item-h6-single {
    /*height: 20px;*/
    line-height: 20px;
    padding: 7px 0;
    padding-left: 65.8px;
    color: #465064;

    font-size: 13px;
    font-weight: 500;
    /*background: transparent url(../assets/images/left/mid-r.png) 55px center no-repeat;*/
}
.tree-two-box li:first-of-type .tree-item-h4 {
    /*margin-top: 5px;*/
}
.tree-two-box,
.tree-three-box,
.tree-four-box,
.tree-five-box {
    display: none;
    overflow: hidden;
}
/*五级菜单容器*/
.tree-five-box {
    padding: 6px 0;
}
/*三级菜单容器*/
.tree-last-box {
    /*padding: 10px 0;*/
    background-color: #dfe3e8;
    box-shadow: inset 0 0 0 0 #ccc, /*顶部阴影*/
                inset 0 3px 3px 0 #ccc, /*左边阴影*/
                inset 0 0 0 0 #ccc, /*底部阴影*/
                inset 0 0 0 0 #ccc; /*右边阴影*/
}
/*五级标题*/
.tree-item-last {
    line-height: 13px;
    padding: 7px 0;
    padding-left: 77px;

    background: transparent url(../assets/images/left/dashed.png) 67px center no-repeat;
}
/*非五级标题*/
.tree-last-box h4 {
    line-height: 20px;
    padding: 7px 0;
    padding-left: 41px;

    background: transparent url(../assets/images/left/dashed.png) 31px center no-repeat;
}
.tree-last-box h4:first-of-type {
    padding-top: 14px;
}
.tree-last-box h4:last-of-type {
    padding-bottom: 14px;
}
.tree-last-box h5 {
    line-height: 20px;
    padding: 7px 0;
    padding-left: 54px;

    background: transparent url(../assets/images/left/dashed.png) 44px center no-repeat;
}
.tree-last-box h5:first-of-type {
    padding-top: 14px;
}
.tree-last-box h5:last-of-type {
    padding-bottom: 14px;
}
.tree-last-box h6 {
    line-height: 18px;
    padding: 7px 0;
    padding-left: 65px;

    background: transparent url(../assets/images/left/dashed.png) 55px center no-repeat;
}
.tree-last-box h6:first-of-type {
    padding-top: 14px;
}
.tree-last-box h6:last-of-type {
    padding-bottom: 14px;
}
.tree-three-box .tree-three-active {
    color: #0db95f;
    font-weight: bold;
}
.tree-item-active {
    color: #0db95f;
    font-weight: bold;
}
.tree-item-active a {
    color: #0db95f;
    font-weight: bold;
}

