<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>菜单列表</title>
    <link href="./css/left.css" rel="stylesheet">
</head>
<body>
    <div id="tree"></div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/left.js"></script>
    <script type="text/javascript">
    var treeArr = [{
            first: { name: "城市111" },
            second: [{
                    title: { name: "车辆监控", url: "http://www.baidu.com" },
                    three: [
                        { name: "维修厂管理", url: "left.html", target: "_blank" },
                        // 如果需要在新窗口中打开被链接，设置"_blank"  ；否则不设置或者设置为空
                        { name: "网点管理", url: "http://www.sina.com" },
                        { name: "充电桩管理", url: "http://www.smartisan.com" }
                    ]
                },
                {
                    title: { name: "车辆监控", url: "http://www.baidu.com" },
                    three: [
                        { name: "维修厂管理", url: "http://www.baidu.com" },
                        { name: "网点管理", url: "http://www.baidu.com" },
                        { name: "充电桩管理", url: "http://www.baidu.com" }
                    ]
                },
                {
                    title: { name: "车辆监控", url: "http://www.baidu.com" },
                    three: [
                        { name: "维修厂管理", url: "http://www.baidu.com" },
                        { name: "网点管理", url: "http://www.baidu.com" },
                        { name: "充电桩管理", url: "http://www.baidu.com" }
                    ]
                }
            ]
        },
        {
            first: { name: "城市111" },
            second: [{
                    three: [
                        { name: "维修厂管理", url: "left.html", target: "_blank" },
                        // 如果需要在新窗口中打开被链接，设置"_blank"  ；否则不设置或者设置为空
                        { name: "网点管理", url: "http://www.sina.com" },
                        { name: "充电桩管理", url: "http://www.smartisan.com" }
                    ]
                },

            ]
        },
        {
            first: { name: "进度条", url: "./progress/progress.html" },
        },
        {
            first: { name: "日历待修", url: "./date-time-picker.html" },
        },
        {
            first: { name: "下拉选项", url: "./select.html" },
        }
    ];
    Tree("#tree", treeArr);
    console.log(treeArr[1].length);
    </script>
</body>
</html>
