<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>菜单列表</title>
    <link rel="stylesheet" href="./left.css">
</head>
<body>
    <div id="tree"></div>

    <script src="./jquery.min.js"></script>
    <script src="./left.js"></script>
    <script type="text/javascript">
    var treeArr = [
        {
            name: "一级菜单",

            next: [
                { name: "二级菜单", url: "http://www.smartisan.com" },
                {
                    name: "二级菜单",
                    next: [
                        { name: "三级菜单", url: "", target: "_blank" },
                        // 如果需要在新窗口中打开被链接，设置"_blank"  ；否则不设置或者设置为空
                        { name: "三级菜单", url: "http://www.sina.com" },
                        { name: "三级菜单", url: "http://www.smartisan.com" }
                    ]
                },
                {
                    name: "二级菜单",
                    next: [
                        { name: "三级菜单", url: "left.html", target: "_blank" },
                        // 如果需要在新窗口中打开被链接，设置"_blank"  ；否则不设置或者设置为空
                        { name: "三级菜单", url: "http://www.sina.com" },
                        { name: "三级菜单", url: "http://www.smartisan.com" }
                    ]
                },
                { name: "二级菜单", url: "http://www.smartisan.com" },
                { name: "二级菜单", url: "http://www.smartisan.com" }

            ]
        },
        // i
        {  // div.tree-item
            name: "一级菜单",  // .h3
            next: [  // ul.tree-two-box
                // j
                {
                    name: "二级菜单",  // .h4
                    next: [  // ul.tree-three-box
                        // k
                        {
                            name: "三级菜单",  // .h5
                            next: [  // ul.tree-four-box
                                // m
                                // { name: "四级菜单", url: "left.html"},
                                {
                                    name: "四级菜单",  // .h6
                                    next: [  // ul.tree-five-box
                                        // n
                                        { name: "五级菜单", url: "left.html"},
                                        { name: "五级菜单", url: "left.html"},
                                        { name: "五级菜单", url: "left.html"}
                                    ]
                                },
                                {
                                    name: "四级菜单",  // .h6
                                    next: [  // ul.tree-five-box
                                        // n
                                        { name: "五级菜单", url: "left.html"},
                                        { name: "五级菜单", url: "left.html"},
                                        { name: "五级菜单", url: "left.html"}
                                    ]
                                },
                                { name: "四级菜单", url: "left.html"},
                            ]
                        },
                        {
                            name: "三级菜单",
                            next: [
                                { name: "四级菜单", url: "left.html"},
                                { name: "四级菜单", url: "left.html"},
                                { name: "四级菜单", url: "left.html"}
                            ]
                        },
                        {
                            name: "三级菜单",
                            next: [
                                { name: "四级菜单", url: "left.html"},
                                { name: "四级菜单", url: "left.html"},
                                { name: "四级菜单", url: "left.html"}
                            ]
                        }
                    ]
                },
                {
                    name: "二级菜单",
                    next: [
                        { name: "三级菜单", url: "left.html", target: "_blank" },
                        // 如果需要在新窗口中打开被链接，设置"_blank"  ；否则不设置或者设置为空
                        { name: "三级菜单", url: "http://www.sina.com" },
                        { name: "三级菜单", url: "http://www.smartisan.com" }
                    ]
                },
                {
                    name: "二级菜单",
                    next: [
                        { name: "三级菜单", url: "left.html", target: "_blank" },
                        // 如果需要在新窗口中打开被链接，设置"_blank"  ；否则不设置或者设置为空
                        { name: "三级菜单", url: "http://www.sina.com" },
                        { name: "三级菜单", url: "http://www.smartisan.com" }
                    ]
                }
            ]
        },
        {
            name: "一级菜单",
            next: [
                { name: "二级菜单", url: "left.html", target: "_blank" },
                // 如果需要在新窗口中打开被链接，设置"_blank"  ；否则不设置或者设置为空
                { name: "二级菜单", url: "http://www.sina.com" },
                { name: "二级菜单", url: "http://www.smartisan.com" }
            ]
        },
        { name: "进度条", url: "progress/progress.html" },
        { name: "日历待修", url: "date-time-picker.html" },
        { name: "下拉选项", url: "select.html" },
        { name: "进度条", url: "progress/progress.html" },
        { name: "日历待修", url: "date-time-picker.html" },
        { name: "下拉选项", url: "select.html" },
        { name: "进度条", url: "progress/progress.html" },
        { name: "日历待修", url: "date-time-picker.html" },
        { name: "下拉选项", url: "select.html" },
        { name: "进度条", url: "progress/progress.html" },
        { name: "日历待修", url: "date-time-picker.html" },
        { name: "下拉选项", url: "select.html" }
    ];
    Tree("#tree", treeArr);
    </script>
</body>
</html>
