<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>导航栏 & Tree</title>
    <link rel="stylesheet" href="./left.css">
</head>
<body>

<div class="home-main">
    <div id="tree"></div>
</div>

<div id="tree">
    <div class="tree-box">
        <!-- 只有三级 -->
        <div class="tree-item">
            <h3 class="tree-item-h3">一级菜单</h3>
            <ul class="tree-two-box">
                <li>
                    <h4 class="tree-item-h4">二级菜单</h4>
                    <ul class="tree-three-box tree-last-box">
                        <li class="tree-item-last">三级菜单</li>
                        <li class="tree-item-last">三级菜单</li>
                        <li class="tree-item-last">三级菜单</li>
                    </ul>
                </li>
                <li>
                    <h4 class="tree-item-h4">二级菜单</h4>
                    <ul class="tree-three-box tree-last-box">
                        <li class="tree-item-last">三级菜单</li>
                        <li class="tree-item-last">三级菜单</li>
                        <li class="tree-item-last">三级菜单</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tree-item">
            <h3 class="tree-item-h3">一级菜单</h3>
            <ul class="tree-two-box">
                <li>
                    <h4 class="tree-item-h4">二级菜单</h4>
                    <ul class="tree-three-box">
                        <li>
                            <h5 class="tree-item-h5">三级菜单</h5>
                            <ul class="tree-four-box">
                                <li>
                                    <h6 class="tree-item-h6">四级菜单</h6>
                                    <ul class="tree-five-box tree-last-box">
                                        <li class="tree-item-last">五级菜单</li>
                                        <li class="tree-item-last">五级菜单</li>
                                    </ul>
                                </li>
                                <li>
                                    <h6 class="tree-item-h6">四级菜单</h6>
                                    <ul class="tree-five-box tree-last-box">
                                        <li class="tree-item-last">五级菜单</li>
                                        <li class="tree-item-last">五级菜单</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h5 class="tree-item-h5">三级菜单</h5>
                            <ul class="tree-four-box tree-last-box">
                                <li class="tree-item-last">四级菜单only</li>
                                <li class="tree-item-last">四级菜单only</li>
                                <li class="tree-item-last">四级菜单only</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4 class="tree-item-h4">二级菜单</h4>
                    <ul class="tree-three-box tree-last-box">
                        <li class="tree-item-last">三级菜单only</li>
                        <li class="tree-item-last">三级菜单only</li>
                        <li class="tree-item-last">三级菜单only</li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 只有二级 -->
        <div class="tree-item">
            <h3 class="tree-item-h3">一级菜单</h3>
            <ul class="tree-three-box tree-last-box">
                <li class="tree-item-last">二级菜单only</li>
                <li class="tree-item-last">二级菜单only</li>
                <li class="tree-item-last">二级菜单only</li>
            </ul>
        </div>
        <!-- 最后一个.tree-item结束 -->
    </div>
    <!-- .tree-box结束 -->
</div>
<!-- #tree结束 -->

    <script type="text/javascript" src="./jquery.min.js"></script>
    <script type="text/javascript" src="./left.js"></script>
    <script type="text/javascript">
        // Tree("#tree", [
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     },

        //     {
        //         first: "城市111",
        //         second: [
        //             {
        //                 title:"车辆监控222",
        //                 // three: ["维修厂管理"]
        //             }
        //         ]
        //     },
        //     {
        //         first: "城市",
        //         second: [
        //             {
        //                 title:"车辆监控",
        //                 // three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 // three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             },
        //             {
        //                 title:"车辆监控",
        //                 // three: ["维修厂管理", "网点管理", "充电桩管理"]
        //             }
        //         ]
        //     }

        // ])
    </script>
</body>
</html>
